<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a href="/book/add" class="btn btn-primary btn-lg">Add new book</a>
      <br/><br/>
    </div>
    <div class="col-md-12">
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th colspan="2">Actions</th>
        </tr>
        <% items.forEach(function(item, index){ %>
          <tr>
            <td><%= item.e_id %></td>
            <td><%= item.e_name %></td>
            <td><%= item.e_desc %></td>
            <td><%= item.e_location %></td>
            <td>
              <a href="/book/edit/<%= item.e_id %>" class="btn btn-sm btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
            <td>
              <a href="/book/delete/<%= item.e_id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure to delete?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
        <% }) %>
      </table>
    </div>
  </div>
</div>

<% include ../partials/footer.ejs %>
